<% @notes.each do |note| -%>
                {
                "startDate": "<%= note.note_date.year %>,<%= note.note_date.month %>,<%= note.note_date.day %>",
                "headline": "<a href='<%= user_note_path(current_user, note)%>'><%= note.title %></a>",
                "text":"",
                "asset":
                {
                    "media":"<%= note.image_path %>",
                    "credit":"",
                    "thumbnail":"<%= note.image_path %>",
                    "caption":"caption"
                }
          },
<% end -%>
          {
                "startDate":"2013,01,25",
                "headline":"<a href='/home/note' target='_blank'>久久珍藏馆日志介绍</a>",
                "text":"关于日志的内容理念",
                "asset":
                {
                    "media":"/assets/banner6.png",
                    "credit":"日志",
                    "caption":"关于日志"
                }
          }