<% content_for :title_nav do %>
  <ul class="breadcrumb">
    <li><%= link_to '日志', user_notes_path %><span class="divider">/</span></li>
    <li class="active">日志列表<span class="divider">/</span></li>
    <li class="active pull-right"><%= link_to '添加日志', new_user_note_path %></li>
  </ul>
<% end %>

<div class="btn-group">
  <button class="btn" id="notes_view_toggle_list">列表展示</button>
  <button class="btn" id="notes_view_toggle_timeline">时间线展示</button>
</div>

<% if current_user.notes.empty? %>
    <div class="well">
        还没有任何内容哟！~ 现在就 <%=link_to  "添加日志",  new_user_note_path(current_user) %>.
    </div>
<% end %>

<div id="notes_view_list">
    <br/>
    <table class="table table-striped table-hover">
    <% @notes.order("created_at DESC").each do |note| %>
      <tr>
        <td><%= note.note_date %></td>
        <td><%= note.title %></td>
        <td><%= note.body.to_s.gsub(/<.*\/?>/, '').truncate(40) %></td>
        <td><%= link_to '查看', user_note_path(current_user, note) %></td>
        <td><%= link_to '编辑', edit_user_note_path(current_user, note) %></td>
        <td><%= link_to '删除', user_note_path(current_user, note), method: :delete, data: { confirm: '确定删除?' } %></td>
      </tr>
    <% end %>
    </table>
    <%= will_paginate @notes %>
</div>
<div id="notes_view_timeline">
    <%=render :partial => "note_calendar" %>
</div>


