<div class="row">
  <div class="span2 text-center" style="background: #eee;">
    <%= render :partial => "users/user_nav" %>
  </div>
  <div class="span10">
    <div class="content">

<ul class="breadcrumb">
  <li><%= link_to '日志', user_notes_path %><span class="divider">/</span></li>
  <li><%= @note.title %></li>

  <li class="active pull-right"><%= link_to '编辑日志', edit_user_note_path %></li>
  <li class="active pull-right"><%= link_to '添加日志', new_user_note_path %><span class="divider">/</span></li>
</ul>
<div class="content">
  <%=simple_format @note.body.html_safe %>
</div>

    </div>
  </div>
</div>

