<%= simple_form_for([current_user, @user_relationship]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :jiapu %>
    <%= f.association :user_info %>
    <%= f.input :relation_type %>
    <%= f.input :related_user_info_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
