<%= simple_form_for([current_user, @tool_acount]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.association :user %>
    <%#= f.input :name %>
    <%= f.input :password %>
    <%= f.input :password_tips, :input_html => {:type => :input} %>
    <%#= f.input :email %>
    <%#= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
