<%= simple_form_for([current_user, @tool_item]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.association :user %>
    <%= f.input :title %>
    <%= f.input :name %>
    <%#= f.input :password, :input_html => {:type => 'input', :value => @tool_item.password} %>
    <%= f.input :password_tips, :input_html => {:type => 'input', :value => @tool_item.password_tips} %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
