<% content_for :title_nav do %>
  <ul class="breadcrumb">
    <li class="active">保险箱</li>

    <li class="active pull-right"><%= link_to '添加保险项', new_user_tool_item_path %></li>
  </ul>
<% end %>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Name</th>
    <th>Password</th>
    <th>Password tips</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tool_items.each do |tool_item| %>
  <tr>
    <td><%= tool_item.user %></td>
    <td><%= tool_item.title %></td>
    <td><%= tool_item.name %></td>
    <td><%= tool_item.password %></td>
    <td><%= tool_item.password_tips %></td>
    <td><%= tool_item.note %></td>
    <td><%#= link_to 'Show', tool_item %></td>
    <td><%#= link_to 'Edit', edit_tool_item_path(tool_item) %></td>
    <td><%#= link_to 'Destroy', tool_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

