<% content_for :title_nav do %>
  <ul class="breadcrumb">
    <li class="active">保险箱</li>

    <li class="active pull-right"><%= link_to '添加保险项', new_user_tool_item_path %></li>
  </ul>
<% end %>

<table class="table table-striped">
  <tr>
    <th>项目名称</th>
    <th>项目内容</th>

    <th>密码提示</th>
    <th>备注</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% current_user.tool_items.each do |tool_item| %>
  <tr>
    <td><%= tool_item.title %></td>
    <td><%= tool_item.name %></td>

    <td><%= tool_item.password_tips %></td>
    <td><%= tool_item.note %></td>
    <td><%= link_to '编辑', edit_user_tool_item_path(current_user, tool_item) %></td>
    <td><%= link_to '删除', user_tool_item_path(current_user, tool_item), method: :delete, data: { confirm: '确定删除?' } %></td>
  </tr>
<% end %>
</table>

<br />

