<p id="notice"><%= notice %></p>


<p>
  <b>Title:</b>
  <%= @tool_item.title %>
</p>

<p>
  <b>Name:</b>
  <%= @tool_item.name %>
</p>

<p>
  <b>Password:</b>
  <%= @tool_item.password %>
</p>

<p>
  <b>Password tips:</b>
  <%= @tool_item.password_tips %>
</p>

<p>
  <b>Note:</b>
  <%= @tool_item.note %>
</p>

