<%= simple_form_for([current_user, @user_info]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.association :user %>
    <%= f.input :xing, require: true, label: false %>
    <%= f.input :ming, require: true, label: false %>
    <%= f.input :en_name %>
    <%= f.input :nice_name %>
    <%= f.input :gender, as: :radio_buttons, collection: ['男', '女'] %>
    <%#= f.input :birth %>
    <%= f.input :birth, start_year: Date.today.year - 120, end_year: Date.today.year - 1%>
    <%= f.input :birth_place %>
    <%= f.input :living_place %>
    <%= f.input :picture_url %>
    <%#= f.input :email %>
    <%= f.input :qq %>
    <%= f.input :phone %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

