<p>
  <b>姓:</b>
  <%= @user_info.xing %>
</p>

<p>
  <b>名:</b>
  <%= @user_info.ming %>
</p>

<p>
  <b>拼音:</b>
  <%= @user_info.en_name %>
</p>

<p>
  <b>昵称:</b>
  <%= @user_info.nice_name %>
</p>

<p>
  <b>性别:</b>
  <%= @user_info.gender %>
</p>

<p>
  <b>出生:</b>
  <%= @user_info.birth %>
</p>

<p>
  <b>出生地:</b>
  <%= @user_info.birth_place %>
</p>

<p>
  <b>现住地:</b>
  <%= @user_info.living_place %>
</p>

<p>
  <b>Email:</b>
  <%= @user_info.email %>
</p>

<p>
  <b>QQ:</b>
  <%= @user_info.qq %>
</p>

<p>
  <b>电话:</b>
  <%= @user_info.phone %>
</p>

