<%# encoding: utf-8 %>
<div class="text-left">
<ul class="nav nav-list">
  <li>
    <%=link_to user_path(current_user) do %>
      <i class="icon-dashboard icon-2x"></i>
      <span>个人中心</span>
    <% end %>
  </li>
  <li>
    <a href="/users/edit">
        <i class="icon-user icon-2x"></i>
        <span>账户管理</span>
    </a>
  </li>
 
 <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-home icon-2x"></i>
      <span>家族树<i class="icon-caret-down"></i></span>
    </a>
    <ul class="dropdown-menu">
      <li class="">
        <%= link_to user_jiapu_path(current_user, current_user.jiapus.first) do %>
            <i class="icon-user"></i>
            <span>浏览家谱</span>
        <% end %>
      </li>

      <li class="">
        <%= link_to user_tool_items_path(current_user) do %>
            <i class="icon-cogs"></i>
            <span>添加家谱成员</span>
        <% end %>
      </li>
      <li class="">
        <%= link_to edit_user_jiapu_path(current_user, current_user.jiapus.first) do %>
            <i class="icon-user"></i>
            <span>修改家谱</span>
        <% end %>
      </li>
      <li class="">
        <%=link_to edit_user_user_info_path(current_user, current_user.user_info) do %>
            <i class="icon-magic"></i> 修改我的信息
        <% end %>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-home icon-2x"></i>
      <span>保险箱<i class="icon-caret-down"></i></span>
    </a>
    <ul class="dropdown-menu">
      <li class="">
        <%= link_to "/tool_acounts/edit_password" do %>
            <i class="icon-user"></i>
            <span>密码设置</span>
        <% end %>
      </li>
      
      <li class="">
        <a href="/tool_acounts/login">
            <i class="icon-magic"></i> 保险箱登录
        </a>
      </li>

      <li class="">
        <%= link_to user_tool_items_path(current_user) do %>
            <i class="icon-cogs"></i>
            <span>保险(密码箱)</span>
        <% end %>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-list-alt icon-2x"></i>
      <span>作品集<i class="icon-caret-down"></i></span>
    </a>
    <ul id="aDqUL3qcZuopin" class="dropdown-menu">
      <% current_user.zuopin_cates.each do |item| %>
        <li class="">
          <%= link_to user_zuopin_cate_path(current_user, item) do %>
              <i class="icon-plus"></i><%= item.title %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-camera icon-2x"></i>
      <span>纪念册<i class="icon-caret-down"></i></span>
    </a>
    <ul id="aDqUL3qcZdjinian" class="dropdown-menu">
      <% current_user.jinian_cates.select{|s| s.parent_id == 0}.each do |item| %>
        <% if item.sub_cates.any? %>
          <% item.sub_cates.each do |sub_item| %>
            <li class="">
              <%= link_to user_jinian_cate_path(current_user, sub_item) do %>
                <i class="icon-plus"></i><%= sub_item.title %>
              <% end %>
            </li>
          <% end %>
          <li class="divider"></li>
        <% else %>
          <li class="">
            <%= link_to user_jinian_cate_path(current_user, item) do %>
              <%= item.title %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </li>
  <li>
     <%= link_to user_huiyi_items_path(current_user) do %>
                  <i class="icon-book icon-2x"></i>
                  <span>回忆录</span>
              <% end %>
  </li>
  <li>
    <%= link_to user_notes_path(current_user) do %>
                  <i class="icon-leaf icon-2x"></i>
                  <span>记事本</span>
              <% end %>
  </li>
  <li class="divider"></li>
  <li>
    <%=render :partial => 'home/search_form' %>
  </li>
</ul>
  
</div> 
