<%= simple_form_for([current_user, @jiapu]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.input :user_id, as: :hidden, html_input: {value: current_user.id} %>
    <input class="hidden" id="jiapu_user_id" name="jiapu[user_id]" type="hidden" value="<%=current_user.id %>">
    <%= f.input :name %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
