<h1>Listing huiyi_cates</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @huiyi_cates.each do |huiyi_cate| %>
  <tr>
    <td><%= huiyi_cate.user %></td>
    <td><%= huiyi_cate.title %></td>
    <td><%= link_to 'Show', huiyi_cate %></td>
    <td><%= link_to 'Edit', edit_huiyi_cate_path(huiyi_cate) %></td>
    <td><%= link_to 'Destroy', huiyi_cate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Huiyi cate', new_huiyi_cate_path %>
