<% content_for :title_nav do %>
  <ul class="breadcrumb">
    <li class="active">纪念册<span class="divider">/</span></li>
    <li class="active"><%= @jinian_cate.title %></li>

    <li class="active pull-right"><%= link_to '删除纪念册', user_jinian_cate_path(current_user, @jinian_cate), method: :delete, data: { confirm: '删除纪念册，将删除该纪念册下的所有内容， 确定要删除吗?' } %></li>
    <li class="active pull-right"><%= link_to '编辑', edit_user_jinian_cate_path(current_user, @jinian_cate) %><span class="divider">  |  </span></li>
    <li class="active pull-right"><%= link_to '添加照片', new_user_jinian_item_path(:jinian_cate_id => @jinian_cate.id) %><span class="divider">  |  </span></li>
  </ul>
<% end %>


<p>
  <b><%= @jinian_cate.title %></b>
</p>

<!--Image gallery use gem: Bootstrap-Image-Gallery-->
<!--https://github.com/blueimp/Bootstrap-Image-Gallery -->
<!--[if lt IE 7]>
  <link rel="stylesheet" href="/Bootstrap-Image-Gallery/css/bootstrap-ie6.css"><![endif]-->
<link rel="stylesheet" href="/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">
<script src="/Bootstrap-Image-Gallery/js/load-image.min.js"></script>
<script src="/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script>

<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn btn-primary modal-next">下一页 <i class="icon-arrow-right icon-white"></i></a>
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> 上一页</a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> 幻灯片</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> 下载</a>
    </div>
</div>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
    <% @uploads.each do |item| %>
      <%= link_to image_tag(item.upload.url(:thumb)),  item.upload.url(:medium),  :title => item.upload.name, :"data-gallery" => "gallery" %>
    <% end %>
</div>
<!--Image gallery use gem: Bootstrap-Image-Gallery End-->

