<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li><a href="/">首页</a></li>
    <% if user_signed_in? %>
      <li><%= link_to '个人中心', user_path(current_user) %></li>
      <li><%= link_to '账户管理', edit_user_registration_path %></li>
      <li><%= link_to '退出', destroy_user_session_path, :method=>'delete' %></li>
    <% else %>
      <li> <%= link_to "登录", "/users/sign_in" %></li>
      <li>
      <%= link_to '注册', new_user_registration_path %>
      </li>
    <% end %>
    <li class="disabled text-right"><a href="#">客户电话：400-600-888</a></li>
  </ul>
  <h3><%=image_tag asset_path("logo.png"), :width => "170px" %></h3>
</div>
