<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <link type="text/plain" rel="author" href="http://www.99zcg.com/humans.txt" />
    <meta name="robots" content="all" />
    <meta name="author" content="99zcg.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "99ZCG" %></title>
    <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : "久久珍藏馆" %>">
    <meta name="keywords" content="<%= content_for?(:meta_keywords) ? yield(:meta_keywords) : "久久珍藏馆" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!--[if IE 7]>
      <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container-narrow">
    <%= render :partial => "layouts/navigation" %>
    <hr/>

<% if user_signed_in? %> 
<div class="row">
  <div class="span2 text-center" style="background: #eee;">
    <%= render :partial => "users/user_nav" %>
  </div>
  <div class="span10 user_container">
    <div class="content">
      <%= yield(:title_nav) %>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>
</div>
<% else %>
    <%= render 'layouts/messages' %>
    <%= yield %>
<% end %>

    </div> <!-- /container -->
     <div class="container-narrow">
     <%= render :partial => "layouts/footer" %>
   </div>
  </body>
</html>
