<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <link type="text/plain" rel="author" href="http://www.99zcg.com/humans.txt" />
    <meta name="robots" content="all" />
    <meta name="author" content="inruby.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "99ZCG" %></title>
    <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : "久久珍藏馆" %>">
    <meta name="keywords" content="<%= content_for?(:meta_keywords) ? yield(:meta_keywords) : "久久珍藏馆" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script type="text/javascript">
      $(document).ready(function(){

          $('#slide_banner').cycle({ 
          fx:      'fade', 
          speed: 1000,
          timeout: 5000,
          delay:   -3000 
        });

      });
    </script>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container-narrow-bg">
      <%#= render :partial => "layouts/navigation" %>
      <div class="i-header">
        <%=image_tag "logo.png" %>
        <h1><%= yield(:h1) %></h1>
        <div class="i-top-nav">
          <table><tr>
            <td><a href="/">首页</a></td>
            <% if user_signed_in? %>
            <td>&nbsp;&nbsp;<%= link_to '个人中心', user_path(current_user) %></td>
            <td>&nbsp;&nbsp;<%= link_to '账户管理', edit_user_registration_path %></td>
            <td>&nbsp;&nbsp;<%= link_to '退出', destroy_user_session_path, :method=>'delete' %></td>
            <% else %>
              <td>&nbsp;&nbsp;<%= link_to "登录", "/users/sign_in" %></td>
            <td>&nbsp;&nbsp;<%= link_to '注册', new_user_registration_path %></td>
            <% end %>            
            <td>&nbsp;&nbsp;电话：13813643460 &nbsp;&nbsp; QQ: 2534501027</td>
          </tr></table>
        </div>
      </div>

      <%= render 'layouts/messages' %>
      <div class="container"><div class="content">
      <div class="row">
        <div class="span2 text-left">
          <%= link_to image_tag("i-btn-1.png"), "/home/jiapu" %><br/>
          <%= link_to image_tag("i-btn-2.png"), "/home/toolbox" %><br/>
          <%= link_to image_tag("i-btn-3.png"), "/home/huiyi" %><br/>
          <%= link_to image_tag("i-btn-4.png"), "/home/zuopin" %><br/>
          <%= link_to image_tag("i-btn-5.png"), "/home/jinian" %><br/>
          <%= link_to image_tag("i-btn-6.png"), "/home/note" %><br/>
       
          <p>
            <%= link_to image_tag("i-reg.png"), "/users/sign_up" %><br/>
          </p>
          <%#=image_tag "i-side-nav.png" %>
        </div>
        <div class="span10">
          <%= yield %>
        </div>
      </div></div></div>
    </div>
    <div class="container-narrow-foot-bg">
      <%= render :partial => "layouts/footer" %>
   </div>
  </body>
</html>
